# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*

# Arquivos temporários
*.tmp
*.bak

# Instruções gerais
instructions/

# Uploads de Usuários (Ignora fotos dinâmicas, mas mantém as originais/seeds)
public/uploads/veiculos/foto_*